

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background-color: #1E1E1E;
    color: #fff;
}

a {
    color: #FF4081; /* цвет ссылок */
    text-decoration: none;
}

a:hover {
    color: #00D1FF; /* цвет ссылок при наведении */
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
}

.block-link-counter {
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header, .footer {
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    padding: 10px;
}

.logo {
    overflow: hidden;
    white-space: nowrap;
}

.header {
    flex-shrink: 0;
}

.footer {
    opacity: 0; /* Изначально скрываем footer */
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.5s ease-in-out; /* Добавляем плавный переход для появления */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links li {
    display: inline-block;
    margin-left: 0.5rem;
}

.nav-links a {
    text-decoration: none;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: left;
    position: relative;
    overflow: hidden;
    padding-top: 60px; /* Добавляем отступ сверху для header */
    padding-bottom: 60px; /* Добавляем отступ снизу для footer */
}

.block {
    position: absolute;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #1E1E1E;
    color: white;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


#block1 {
    display: flex;
    justify-content: space-between;
}

.block-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF4081;
    width: 50%;
}

.photo {
    width: 100%;
    height: 100%;
}

.block.active {
    opacity: 1;
    transform: translateY(0);
}



.wrapper-nav-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 20px;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 10; /* Увеличиваем z-index, чтобы кнопки не перекрывались */
}

.navigation-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation-button:hover {
    background-color: #0056b3;
}

.navigation-button:focus {
    outline: none;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {

    .container {
        padding-top: 80px; /* Увеличиваем отступ сверху */
        padding-bottom: 80px; /* Увеличиваем отступ снизу */
    }

    .nav-links {
        flex-direction: row;
        gap: 3px;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        flex-wrap: wrap;
    }

    .block {
        width: 90%;
        padding: 10px;
    }

    .block-photo {
        width: 100%;
        margin-bottom: 20px;
    }

    .wrapper-nav-btn {
        bottom: 10%;
        padding: 0 10px;
    }

    .navigation-button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

/* Адаптивные стили для планшетов */
@media (max-width: 1024px) {
    .nav-links {
        flex-direction: row;
        gap: 3px;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
    }

    .block {
        width: 85%;
    }

    .block-photo {
        width: 100%;
        margin-bottom: 20px;
    }

    .wrapper-nav-btn {
        bottom: 10%;
        padding: 0 10px;
    }
}

/* Адаптивные стили для очень маленьких экранов */
@media (max-width: 540px) {

    .container {
        padding-top: 100px; /* Увеличиваем отступ сверху */
        padding-bottom: 100px; /* Увеличиваем отступ снизу */
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-size: 30px;
    }
    .nav-links {
        flex-direction: row;
        gap: 3px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }

    .job, .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    

    .block-photo {
        display: none; /* Скрываем фото на очень маленьких экранах */
    }

    .wrapper-nav-btn {
       display: none;
    }

    .navigation-button {
        padding: 6px 12px;
        font-size: 14px;
    }

    .footer {
        white-space: normal; /* Позволяет тексту переноситься на новую строку */
        word-wrap: break-word; 
    }
}
